capp.py
aapp.py
lib
bin
lib64
venv
certs
junk
.vscode
__pycache__
.aws
pack
dist
client_config.py
config.py
client_config.py
*.egg-info
.cache_dir
*.pem
*.REST
bapp.py
test_encoder.py
.cache
keyfile.key
*.crt
*.cer
*.key
*.csr
bin
lib
include
pyvenv.cfg
*.xml
.DS_Store
*.json
*.code-workspace

